<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=localhost;Initial Catalog=IksBlogDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IksBlogDBConnectionString" connectionString="Data Source=IQBAL-LT;Initial Catalog=IksBlogDB;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms name="MyCookie" loginUrl="Login.aspx" protection="All" timeout="30" path="/" />
    </authentication>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
