<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="cn" connectionString="Data Source=localhost;Initial Catalog=IksBlogDB;Integrated Security=True;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0"/>

  </system.web>
  
  <system.webServer>
    <defaultDocument> 
        <files>                           
            <clear/>                           
            <add value="index.aspx"/>                      
        </files>              
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="Redirects to iqbalkaur.net" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^iqbalkaur.azurewebsites.net$" />
            <add input="{REMOTE_HOST}" pattern="^209\.6\.(.*)$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" url="http://iqbalkaur.net/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>
