@{
    ViewData["Title"] = "Portfolio";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <hr class="small" />
            <span class="subheading">Have a look at my work.</span>
        </div>
    </div>
</div>

<hr />
