@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <p>You must be logged in to create a new blog post.</p>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row control-group">
                    <div class="form-group col-12 floating-label-form-group controls">
                        <label asp-for="Username">UserName</label>
                        <input asp-for="Username" class="form-control" placeholder="UserName" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-12 floating-label-form-group controls">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
