@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <hr class="small" />
            <span class="subheading"></span>

            <form asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row control-group">
                    <div class="form-group col-12 floating-label-form-group controls">
                        <label asp-for="Username">User Name:</label>
                        <input asp-for="Username" class="form-control" placeholder="User Name" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-12 floating-label-form-group controls">
                        <label asp-for="Password">Password:</label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-12 floating-label-form-group controls">
                        <label asp-for="ConfirmPassword">Confirm Password:</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
